<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Raphaël · Animated Chart</title>
        <link rel="stylesheet" href="demo.css" type="text/css" media="screen">
        <link rel="stylesheet" href="demo-print.css" type="text/css" media="print">
        <style type="text/css" media="screen">
            #holder {
                height: 230px;
                margin: -115px 0 0 -310px;
                width: 620px;
            }
        </style>
        <script src="raphael.js" type="text/javascript" charset="utf-8"></script>
        <script src="chart.js" type="text/javascript" charset="utf-8"></script>
           </head>
    <body>
        <div id="holder2"></div>
    </body>
</html>
